@{
    ViewBag.Title = "Издательский дом";
}

<div class="jumbotron">
    <h1>Издательский дом</h1>
    <p class="lead">Информация</p>
    <p><a href="~/Show/ShowBooks" class="btn btn-primary btn-lg">Просмотр &raquo;</a></p>
</div>
