
@{
    ViewBag.Title = "Новая страна";
    ModelContainer model = new ModelContainer();
}

<br />

<form method="post" action="~/AddNewObject/AddCountry">

    Название:
    <input type="text" name="Name" />

    <br />
    <br />

    <input class="btn btn-default" type="submit" value="Добавить" />
</form>
