
@{
    ViewBag.Title = "Новая страна";
}

<br />

<form method="post" action="~/AddNewObject/AddCountry">

    Название:
    <input type="text" name="Name" />

    <br />
    <br />

    <input class="btn btn-default" type="submit" value="Добавить" />
</form>

<p><a href="~/AddNewObject/NewBook" class="btn btn-primary btn-lg">Назад&raquo;</a></p>