
@{
    ViewBag.Title = "Новый жанр";
    ModelContainer model = new ModelContainer();
}

<br />

<form method="post" action="~/AddNewObject/AddGenre">

    Название:
    <input type="text" name="Name" />

    <br />
    <br />

    Информация:
    <input type="text" name="Info" />

    <br />
    <br />

   <input class="btn btn-default" type="submit" value="Добавить" />
</form>
