
@{
    ViewBag.Title = "Новый жанр";
}

<br />

<form method="post" action="~/AddNewObject/AddGenre">

    Название:
    <input type="text" name="Name" />

    <br />
    <br />

    Информация:
    <input type="text" name="Info" />

    <br />
    <br />

   <input class="btn btn-default" type="submit" value="Добавить" />
</form>

<p><a href="~/AddNewObject/NewAuthor" class="btn btn-primary btn-lg">Назад&raquo;</a></p>