@{
    ModelContainer model = new ModelContainer();
    Books book = ViewBag.Book;
    var booksExemplar = ViewBag.BookExemplar;
    ViewBag.Title = book.Name;
}

<br />

Название:
@{Write(book.Name);}

<br />
<br />

Автор:
@{Write(book.Author.Surname + ' ' + book.Author.Name + ' ' + book.Author.SecondName);}

<br />
<br />

Жанр:
@{Write(book.Genre.Name);}

<br />
<br />


<table class="table">
    <tr>
        <th>
            Магазин
        </th>
        <th>
            Город
        </th>
        <th>
            Серия
        </th>
    </tr>
    @{
        foreach (BookExemplar b in booksExemplar)
        {
            <tr>
                <td>

                    @{ Write(b.Store.Name + " - " + b.Store.Address); }
                </td>

                <td>
                    @{ Write(b.Store.City.Name); }
                </td>

                <td>
                    @{ Write(b.Series.Name); }
                </td>
            </tr>
                        }
    }
</table>

<p><a href="~/AddNewObject/NewBookExemplar/@book.Id" class="btn btn-primary btn-lg">Добавить &raquo;</a></p>