
@{
    ViewBag.Title = "Книги";
    ModelContainer model = new ModelContainer();
}

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Автор
        </th>
        <th>
            Жанр
        </th>
    </tr>
    @{
        foreach (Books book in model.BooksSet)
        {
            <tr>
                <td>
                    @{Write(book.Name);}
                </td>

                <td>
                    @{Write(book.Author.Surname + ' ' + book.Author.Name + ' ' + book.Author.SecondName);}
                </td>

                <td>
                    @{Write(book.Genre.Name);}
                </td>
            </tr>
                        }
    }
</table>
